<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="paginap.css">
    <title>Document</title>
</head>
<body>
    <header class="navbar">
    <img src="PAW MATCH LOGO.png" alt="logo" class="imagen1">
    <button class="btn">Acerca de nosotros/ayuda</button>
    <button class="btn">Ingresar</button>
    <button class="btn">Registra a tu mascota</button>


    <form class="busqueda1" onsubmit="buscarMascota(event)">
      <input type="text" id="busqueda" placeholder="Busca a tu peludo" class="busqueda" />
      <button type="submit">🔍</button>
    </form>
  </header>

  <main class="contenido">
    <div class="contenido1">
      <h1>Cada segundo cuenta.<br />PawMatch busca a tu mascota.</h1>
      <p>Regístrate y comienza tu búsqueda.</p>
      <button class="registro1">Regístrate</button>
    </div>
  </main>

  <section class="seccion2">
    <div class="contenido2">
      <img src="freepik__the-style-is-candid-image-photography-with-natural__89678" alt="imagenprincipal2" class="imagen1" />
      <p class="texto1">
        No pierdas tiempo y tranquilo, <br />¡tampoco pierdas la fe!.
      </p>
    </div>
  </section>
  
  <footer class="piedepagina1">
    <p>Redes sociales</p>
    <div class="social-icons">
      <a href="#"><img src="insta.png" alt="Instagram" /></a>
      <a href="#"><img src="face.png" alt="Facebook" /></a>
    </div>
  </footer>
</body>
</html>