<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% titulo %></title>
    <link rel="stylesheet" href="/registros2.css">
</head>
<body>
    <header class="navbar">
    <img src="PAW MATCH LOGO.png" alt="logo" id="pwmlogo">
    <button class="btn" onclick="window.location.href='/ayuda'">Acerca de nosotros/ayuda</button>

    
  <button class="btn" onclick="bontonregresa()" id="#boton1">Regresar</button>
  
  
</div>
    <button class="btn">Mascotas extraviadas</button>
    <input type="text" placeholder="Busca a tu peludo" class="search" id="searchInput"/>
    <button class="search-btn" onclick="buscar()">🔍</button>
  </header>

  <main class="form-container">
    <h1>¡Pon datos de tu mascota aquí!</h1>
    <div class="form-content">
      <form class="pet-form" method="post" action="/registro2">
        <h2>Datos de tu mascota</h2>
        <input type="text" placeholder="Nombre" id="nombre" name=""  required />
        <div class="row">
          <input type="number" placeholder="Edad" id="edad" name="edad"  required />
          <select id="tiempoEdad" name="tiempoEdad" id="tiempoEdad" required>
            <option value="">Tiempo</option>
            <option value="semanas">Semanas</option>
            <option value="meses">Meses</option>
            <option value="años">Años</option>
          </select>
        </div>
        <select id="sexo" name="sexo" id="sexo" required>
          <option value="">Seleccionar sexo</option>
          <option value="macho">Macho</option>
          <option value="hembra">Hembra</option>
        </select>
        <textarea placeholder="Características" id="caracteristicas" rows="4" name="caracteristicas" required></textarea>
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required />
        <button type="submit" class="salvarbtn">Guardar</button>
      </form>

      <div class="image-upload">
        <img src="" alt="Foto de mascota" class="mascota-img" id="preview"/>
        <input type="file" accept="image/*" id="fotoMascota" style="display: none;" onchange="mostrarFoto(event)"/>
        <button class="upload-btn" onclick="document.getElementById('fotoMascota').click()">Agrega foto de tu mascota aquí.</button>
      </div>
    </div>
  </main>
  <script>
    function bontonregresa(){
        if(boton1){
            window.location.href="/inicio";
        }if(salvarbtn){
            
        }

    }
  </script>
</body>
</html>