body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ff922b;
  }
  
  .navbar {
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .btn {
    background-color: #d95e49;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .busqueda {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  .contenido {
    background-color: #fcbf1e;
    padding: 50px 20px;
    text-align: center;
    position: relative;
  }
  
  .contenido1 {
    color: white;
    max-width: 600px;
    margin: auto;
    z-index: 2;
    position: relative;
  }
    .hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .registro1 {
    background-color: purple;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .hero-img {
    position: absolute;
    bottom: 0;
    right: 10%;
    max-height: 400px;
  }
  

  .seccion2 {
    background-color: white;
    padding: 40px 20px;
  }
  
  .contenido2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .imagen1 {
    max-width: 300px;
    border-radius: 10px;
  }
  
  .texto1 {
    font-size: 1.5em;
    color: #000;
    max-width: 400px;
    font-weight: bold;
  }
  
  .piedepagina1 {
    background-color: #fcbf1e;
    padding: 20px;
    text-align: left;
  }
  
  .footer p {
    font-weight: bold;
    color: purple;
    margin-bottom: 10px;
  }
  
  .social-icons a img {
    width: 40px;
    margin-right: 10px;
  }

  #pwml1{
    width: 150px;

  }